.product {
  margin-top: 100px;
}

.card_general.card {
  box-shadow: 0px 10px 15px -12px rgb(0 0 0 / 75%);
  cursor: pointer;
  transition: 0.5s;
}

.card_general.card:hover {
  box-shadow: 0px 20px 15px -12px rgb(0 0 0 / 75%);
}

.card_animal.card {
  box-shadow: 0px 10px 15px -12px rgb(0 0 0 / 75%);
  cursor: pointer;
  transition: 0.5s;
}

.card_animal.card:hover {
  box-shadow: 0px 20px 15px -12px rgb(0 0 0 / 75%);
}

.card_animal.card-body {
  height: 220px;
}

.card_plant.card {
  box-shadow: 0px 10px 15px -12px rgb(0 0 0 / 75%);
  cursor: pointer;
  transition: 0.5s;
}

.card_plant.card:hover {
  box-shadow: 0px 20px 15px -12px rgb(0 0 0 / 75%);
}

.card_plant.card-body {
  height: 220px;
}

.card-text {
  text-align: center;
  font-family: comic sans ms;
}

.harga {
  margin-top: 15px;
}

.lokasi {
  margin-top: 10px;
}
.satu {
  color: orange;
}

.btn {
  width: 70px;
}

button {
  border-style: none;
  background-attachment: white;
}

.modal-body img {
  height: 400px;
}

.card_course .card-text {
  text-align: left;
}

.btn_course.btn {
  width: 100px;
}

.list {
  list-style-image: url("img/check.png");
}

.sosmed a {
  color: black;
}
.sosmed a svg {
  width: 30px;
}

@media screen and (max-width: 576px) {
  .modal-body img {
    width: 300px;
    height: 300px;
  }
}
